
#card1{
    color: white;
    background-color: #fb4671;
    width: fit-container;
   
}
#cont{
    background-color: #e6f6ff;
    width:fit-content;
}
h4{
   
    padding-bottom: 10px;
}

#main{
background-color: #e6f6ff;
width: fit-content;
}

    
